.sec-4 .container img{
    width: 30%;
    float: left;
    padding: 10px;

}

.animation-effcet-h1-sec4{
    animation:animate-scale-4 2s linear  1  forwards ;
}


@keyframes animate-scale-4{
    0%,50%{
    transform: scale(0,0);
    }

 

    100%{
        transform: scale(1,1);
        opacity: 1;
    }
}



.sec-4-img0{
    animation-delay: .1s;
    opacity: 0;

}
.sec-4-img1{
    animation-delay: .3s;
    opacity: 0;

}
.sec-4-img2{
    animation-delay: .5s;
    opacity: 0;

}

.sec-4-img3{
    animation-delay: .7s;
    opacity: 0;

}


.sec-4-img4{
    animation-delay: .9s;
    opacity: 0;

}

.sec-4-img5{
    animation-delay: 1s;
    opacity: 0;

}

.sec-4-img6{
    animation-delay:1.1s;
    opacity: 0;

}



.sec-4 .container{
    width: 70%;
}


.sec-4{
    text-align: center;
}


.sec-4 h1{
    position: relative;
    top: 70px;
}



.h2-animation-sec-4{
    animation:animate-sec-4 1s 1 linear forwards ;
    animation-delay: .1;
}




@keyframes animate-sec-4{
    0%{
       opacity: 0;
       top: -100px;
    }

    50%{
        top:120px;
        opacity: 1;
    }

    100%{
        top: 120px;
        opacity: 1;
    }
}

@media (min-width:268px) and (max-width:992px){
    .sec-4 .container {
        width: 100%;
        padding-right: 60px;
    }

    .sec-4 .container img{
        width: 30%;
        float:right;
        padding: 10px;
    
    }
}


